.body-css2{
   background: linear-gradient(#496b82 50%,#eb9d59)
}

.h1-css2{
    color:#ffff;
}

.txt-ccs2{
    color:#D38D50;
    /* font-weight: 600; */
}


.txt-ccs3{
    color:#4C1C00;
    /* font-weight: 600; */
}